<!DOCTYPE html>
<html lang="en">
<head>
    <Content-Type: application/json>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>eMonitor - Principal</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>
<script src="vendor/jquery-3.2.1.min.js"></script>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="images/icon/logo-white.png" alt="eMonitor" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item js-item-menu">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="images/icon/avatar-01.jpg" alt=<%= user.info.nome %> />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#"><%= user.info.nome %></a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/avatar-01.jpg" alt=<%= user.info.nome %> />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#"><%= user.info.nome %></a>
                                            </h5>
                                            <span class="email"><%= user.info.matricula %></span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="/logout">
                                            <i class="zmdi zmdi-power"></i>Sair</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c2 img-cir img-40">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="content">
                                <p>Your account has been blocked</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c3 img-cir img-40">
                                <i class="zmdi zmdi-file-text"></i>
                            </div>
                            <div class="content">
                                <p>You got a new file</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="header-button-item js-item-menu">
                    <i class="zmdi zmdi-settings"></i>
                    <div class="setting-dropdown js-dropdown">
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-globe"></i>Language</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-pin"></i>Location</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-email"></i>Email</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-notifications"></i>Notifications</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span"></span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Principal</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Dashboard</li>
                                    </ul>
                                </div>
                                <form class="au-form-icon--sm" action="http://www.ufvjm.edu.br/" method="post">
                                    <input class="au-input--w300 au-input--style2" type="text" placeholder="">
                                    <button class="au-btn--submit2" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Seja bem vindo
                                <span><%= user.info.nome %></span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 ">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number" id = "hours_m">
                                    <script>
                                      function hour_mon(x, y) {
                                        let q = x.split(":")
                                        let q_ = y.split(":")
                                        let rest = (x) => x-Math.trunc(x)
                                        let add_0 = (x) => x.length <= 1 ? "0" + x : x
                                        let h = (parseInt(q_[0], 10)-parseInt(q[0], 10))
                                          return add_0(Math.abs((parseInt(q_[0], 10)-parseInt(q[0], 10))).toString()) + ":" + add_0(Math.abs((parseInt(q_[1], 10)-parseInt(q[1], 10))).toString())
                                        }
                                        
                                      var moni = JSON.parse('<%-JSON.stringify(moni)%>')
                                      let j = 0
                                      let q = 0
                                      let t;
                                      for (let i=0; i<= moni.length - 1; i++) {
                                          t = hour_mon(moni[i].horario_monitoria, moni[i].horario_terminio_monitoria)
                                          j = j + parseInt(t.split(":")[0], 10)
                                          q = q +  parseInt(t.split(":")[1], 10)
                                      }

                                      let k = Math.trunc(j + (q/60))
                                      $("#hours_m").append(k)
   
                                    </script>
                                    
                                </h2>
                                <span class="desc">Horas atuais dadas de monitoria</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number" id = "hours_q"><script>$("#hours_q").append(moni.length)</script></h2>
                                <span class="desc">Monitorias feitas</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-collection-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number" id = "hours_f"><script>$("#hours_f").append(144-k <= 0 ? 0 : 144-k)</script></h2>
                                <span class="desc">Para você completar as horas totais</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-assignment-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 class="number" id = "st_at">
                                    <script>
                                    let m = JSON.parse('<%-JSON.stringify(moni)%>')
                                    let q_ = 0
                                    for (let i =0; i <= m.length - 1; i++) {
                                          for (q_=0; q_ <= m[i].alunos.length - 1; q_++) {}
                                    }
                                    $("#st_at").append(q_)
         
                                    </script>

                                </h2>
                                <span class="desc">Alunos que foram em sua monitoria</span>
                                <div class="icon">
                                    <i class="zmdi-email"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <form class="form-inline" action="/add_mon" method="POST">
                <div class="form-mon">
                  <label for="pwd">Local da monitoria</label>
                  <input type="text" name="place_mon" class="form-control" id="place">
                </div>
                <div class="form-mon">
                  <label for="pwd">Hora da monitoria</label>
                  <input type="time" name="hour_mon" class="form-control" id="hour">
                </div>
                <div class="form-mon">
                  <label for="pwd">Dia da Monitoria</label>
                  <input type="date" name="day_mon" class="form-control" id="date">
                </div>
                <div class="form-mon">
                  <label for="pwd">Hora de terminio</label>
                  <input type="time" name="hour_mon_ter" class="form-control" id="hour_ter">
                </div>

                <div class="form-bottom">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Adicionar Monitoria</button>
                </div>

              </form>

                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2" id = "ata">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </th>
                                            <th>Local</th>
                                            <th>Dia</th>
                                            <th>Horario de começo</th>
                                            <th>Horario de terminio</th>
                                            <th>status</th>
                                            <th>Horas dadas</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <script>  
                                    let delete_mo = (x) => $.ajax({
                                          url: '/delete_mon',
                                          type: 'post',
                                          dataType: 'json',
                                          contentType: 'application/json',
                                          success: function (data) {
                                            if (data == "refresh") {
                                                location.reload()
                                            }
                                          },
                                         data: JSON.stringify({id_moni : x})
                                        });
                                 function go_edit_mon(id_mon) {
                                     window.location.href = `/edit_mon?id=${id_mon}`
                                 }
                                 
                                 function go_generate_doc(id_mon) {
                                     window.location.href = `/mpdf?id=${id_mon}`
                                 }
                                 

                                let get_str_moni = (place, day, hour_m, hour_t_m, hour_m_d, id_mon) => 
                                        `<tr class="spacer"></tr> \
                                        <tr class="tr-shadow"> \
                                            <td> \
                                                <label class="au-checkbox"> \
                                                    <input type="checkbox"> \
                                                    <span class="au-checkmark"></span> \
                                                </label> \
                                            </td> \
                                            <td>' ${place} </td> \
                                            <td> \
                                                <span class="block-email"> ${day} </span> \
                                            </td>\
                                            <td class="desc"> ${hour_m}</td> \
                                            <td> ${hour_t_m}</td> \
                                            <td>\
                                                <span class="status--process">Ok</span> \
                                            </td> \
                                            <td>' ${hour_m_d} </td> \
                                            <td> \
                                                <div class="table-data-feature"> \
                                                    <button class="item" data-toggle="tooltip" data-placement="top" onclick = "go_generate_doc('${id_mon}')" title="Documento"> \
                                                        <i class="zmdi zmdi-file-text"></i> \
                                                    </button> \
                                                    <button class="item" data-toggle="tooltip" data-placement="top" onclick = "go_edit_mon('${id_mon}')" title="Adicionar alunos"> \
                                                        <i class="zmdi zmdi-edit"></i> \
                                                    </button> \
                                                    <button class="item" data-toggle="tooltip" data-placement="top"  onclick = "delete_mo('${id_mon}')" title="Excluir"> \
                                                        <i class="zmdi zmdi-delete"></i> \
                                                    </button> \
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Mais"> \
                                                        <i class="zmdi zmdi-more"></i> \
                                                    </button> \
                                                </div>  \
                                            </td> \
                                        </tr>`

                                         for (let i = 0; i <= "<%= moni.length %>" - 1; i++) {
                                             console.log(moni[i].horario_terminio_monitoria)
                                                  $("#ata").append(get_str_moni(moni[i].monitoria_lugar, 
                                                    moni[i].dia, 
                                                    moni[i].horario_monitoria, 
                                                    moni[i].horario_terminio_monitoria,
                                                    hour_mon(moni[i].horario_monitoria, moni[i].horario_terminio_monitoria),
                                                    moni[i]._id
                                                    ))
                                                } 
                                  
                                          </script> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>    
            <!-- Jquery JS-->

    </div>

    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <%= form.msg %>"
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>

    </div>
    
    <script> 
            var x = "<%= form.error %>";
            if (x == "true") {$('#exampleModal').modal('show')} 
    </script>          

</body>

</html>
<!-- end document-->